<div class="sidebar sidebar-article pure-u">
    <header class="header-article">
        <hgroup>
            <!--<a href="{{ SITEURL }}/{{ article.author.url }}" title="See posts by {{ article.author }}">-->
                {% if article.author_gravatar %}
                    <a href="{{SITEURL}}/pages/about-me.html"><img class="avatar" alt="{{ article.author }}" src="{{ article.author_gravatar }}"></a>
                {% endif %}
            <!--</a>-->
            <h2 class="article-info">{{ article.author }}</h2>
            <p class="social">
              {% for title, link in SOCIAL %}
                      <a href="{{ link }}">
                          <i class="fa fa-{{ title }} fa-2x article-icons select_item"></i>
                      </a>
              {% endfor %}
            <p>
            <!--<small class="about-author">{{ article.about_author }}</small>-->
            <h5></h5>
            <p>{{ article.locale_date }}</p>
            <a href="{{ SITEURL }}">
                <i class="fa fa-home fa-lg select_item"></i><span class="icon-label select_item"><span> Home </span></span>
              </a>
        </hgroup>
    </header>
</div>
