{% extends 'index.html' %}
{% block title %}{{ author|striptags }} author // {{ super() }}{% endblock title %}
{% block pagetitle %}Posts by '{{ author }}'{% endblock pagetitle %}

{% block content %}
  <div class="pure-g-r" id="layout">
      {% include 'sidebar.html' %}
       <div class="pure-u-1">
          <div class="content">
             <table>
               <tr>
                <td>
                  {% if author %}
                      <p>test</p>
                      <img class="avatar" src="{{ author.author_gravatar }}">
                  {% endif %}
                </td>
                <td> <h3> {{ author }} </h3> </td>
               </tr>
             </table>
          </div>
       </div>
  </div>
 {% endblock content %}
