{% extends 'base.html' %}
{% block content %}
<div class="pure-g-r" id="layout">
    {% include 'sidebar.html' %}
    <div class="pure-u-1">
        {% include 'tag_cloud.html' %}
        <div class="content">
          <!--<div>
            {% if DISPLAY_PAGES_ON_MENU -%}
              {% for pg in PAGES %}
                <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
              {% endfor %}
            {% endif %}
          </div>-->
            <div class="posts">
                {% include 'pagination.html' %}
                {% for article in articles_page.object_list %}
                    {% include 'post.html' %}
                    {% if MATH is defined and not MATH['auto_insert'] %}
			                  {% if page and page.mathjax or article and article.mathjax %}
                            {% set mathjax = True %}
                        {% endif %}
                    {% endif %}
                    {% if loop.last and mathjax is defined %}
                        {{ MATHJAXSCRIPT }}
                    {% endif %}
                {% endfor %}
                {% include 'pagination.html' %}
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
