{% if article.share_post and article.status != 'draft' %}
    <section>
        <p id="post-share-links">
            Share this post:
            <a href="{{article.share_post['twitter']}}" target="_blank" title="Share on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            &middot;
            <a href="{{article.share_post['facebook']}}" target="_blank" title="Share on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            &middot;
            <a href="{{article.share_post['google-plus']}}" target="_blank" title="Share on Google Plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            &middot;
            <a href="{{article.share_post['email']}}" target="_blank" title="Share via Email"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </p>
    </section>
{% endif %}
