<section class="tcloud">
  <ul class="tagcloud">
    <h4>
      <i class="fa fa-tags fa-lg">
      </i>
      <span class="icon-label">Tags</span>
    </h4>
    {% for tag in tag_cloud %}
        <li class="tag-{{ tag.1 }} tag-style">
            <a href="{{ SITEURL }}/{{ tag.0.url }}">
            {{ tag.0 }}
                {% if TAG_CLOUD_BADGE %}
                    <span class="badge">{{ tag.3 }} &middot; </span>
                {% endif %}
            </a>
        </li>
      {% endfor %}
  </ul>
</section>
